<div class="login">
    <div class="header">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="title" align="center">
                    <!-- <table width="100%">
                        <tr><td align="left"><span class="hspc"><a href="#/plan">Subscribe</a></span></td><td align="center"><span> {{title}}</span></td><td align="right"><span> <a href="#/welcome">News</a></span></td></tr>
                    </table> -->
                    <h2><span class="fl"><a href="#/plan">Subscribe</a></span> <span> {{title}}</span> <span  class="fr"> <a href="#/welcome">News</a></span></h2>

                    
                </td>
                    
            </tr>
        </table>
    </div>
    <div class="logo">
        <div class="custom-add custom-add-left">
            <img ng-src="{{ads.left.medias[0].url}}" />
        </div>
        <div class="custom-add custom-add-right">
            <img ng-src="{{ads.right.medias[0].url}}" />
        </div>
        <img class="app-logo" ng-src="images/logo.png" alt="">
    </div>
    <div class="container login-fld">
        <div class="flds">
            <div class="row">
                <input type="text" name="textfield" id="textfield" ng-model="email_id" placeholder="{{lang.user_name}}" value="{{email_id}}">
            </div>
            <div class="row">
                <input type="password" name="textfield" id="textfield" ng-model="password" placeholder="{{lang.password}}" value="{{password}}">
            </div>
        </div>
        <div class="containerLogin">
        <div class="remember dviLogin01">{{lang.remme}}
            <div class="cus-check">
                <input type="checkbox" class="cus-check-checkbox" id="remme" value="1">
                <label for="remme" class="cus-check-label">
                    <div class="cus-check-inner"></div>
                </label>
            </div>
        </div>
        <div class="forget-pass dviLogin02" id="popUpBtn" ng-click="resetPass()">{{lang.forgetpass}}</div>
        </div>
        <button class="btn-login" ng-click="login()">{{lang.login}}</button>
        <!-- <br>
        <button class="btn-login" ng-click="buy()">Buy a Plan</button> -->

        

    </div>
    <div class="add-slider" ng-if="ads.bottom.medias.length>0">
        <div class="blueberry">
            <ul class="slides">
                <li ng-if="ads.bottom.medias.length>1" ng-repeat="slide in ads.bottom.medias"><img ng-src="{{slide.url}}"></li>
            </ul>
        </div>
    </div>

</div>