<div>
  <div class="header1">
   <span class="leftside"> <a href="#/login">About Us</a></span>
   <span class="rightside" ng-click="login()">Login</span>
  </div>
  <div class="midsection"  >
    <div>
      <br>Welcome !<br><br>Here is about us page.<br><br>
    </div>
   
   
</div>
<div class = "tabs">
     
  <a href="#/welcome" class = "tab-item">
     <i class="fa fa-newspaper-o" aria-hidden="true"></i> News
   </a>
	
   <a href="#/news" class = "tab-item current">
      <i class="fa fa-book" aria-hidden="true"></i>About Us
   </a>

   <a href="#/plan" class = "tab-item">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>Plan
   </a>
</div>
</div> 