<!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" /> -->
<div>
    <div class="header1">
     <!-- <span class="leftside"> <a href="#/login">Subscribe</a></span>
     <span class="rightside" ng-click="login()">Login</span> -->
     <a href="#/newplan" class="icon-back icon"><img src="assets/img/arrow.png" alt="Back"></a>
     <!-- <a href="#/login" class="icon-user icon"><img src="assets/img/user.png" alt="User"></a> -->
    </div>
    <div class="midsection"  >
    
        <div class="container login-fld">
            <div class="flds">
                    <div class="row">Thanks, You have selected : {{plandetail}} <br> Now Please fill following details.<br></div>
                <div class="row">
                    <input type="text" name="textfield" id="textfield" ng-model="schoolname" placeholder="School Name" value="">
                </div>
                <div class="row">
                        <input type="text" name="textfield" id="textfield" ng-model="address" placeholder="School Address" value="">
                    </div>
                <div class="row">
                    <input type="text" name="textfield" id="textfield" ng-model="emailid" placeholder="Email Id" value="">
                </div>
                <div class="row">
                    <input type="password" name="textfield" id="textfield" ng-model="password" placeholder="Password" value="">
                </div>
                <div class="row">
                    <input type="password" name="textfield" id="textfield" ng-model="confirmpassword" placeholder="Confirm Password" value="">
                </div>
                <div class="row">
                    <input type="text" name="textfield" id="textfield" ng-model="contact" placeholder="Contact No." value="">
                </div>
                <!-- <div class="row"><br>
                    Subscription Duration <br><br>
                    <input type="radio" name="time"  value="7" ng-model="rad[$index]"> 1 Week
                    <input type="radio" name="time"  value="180" ng-model="rad[$index]"> 6 Month
                    <input type="radio" name="time"  value="365" ng-model="rad[$index]"> 12 Month
                </div> -->
                <div class="row"><br></div>
                
            </div>
           
            <button class="btn-login" ng-click="paynow()">Pay and Register</button>
            
            <!-- <button class="btn-login" ng-click="back()">Back</button> -->
            <br><br>
    
            
    
        </div>
 </div>
 
<!-- <div class = "tabs">
    
  <a href="#/welcome" class = "tab-item">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i> News
  </a>
   
  <a href="#/news" class = "tab-item">
     <i class="fa fa-book" aria-hidden="true"></i>About Us
  </a>

  <a href="#/plan" class = "tab-item current">
     <i class="fa fa-paper-plane" aria-hidden="true"></i>Plan
  </a>
</div> -->
</div> 

