<!DOCTYPE html>
<html lang="ar" dir="rtl">  
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<title>Ionic Project</title>

		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
		<link href="assets/css/style.css" rel="stylesheet" />
		
	</head>
    <body >
<div>
    <!-- Navigatio Starts Here -->	
		<nav class="" id="nav">
                <div class="row top">
                    <h1>أخبار</h1>
                    <!-- <a href="#/login" class="icon-back icon"><img src="assets/img/arrow.png" alt="Back"></a> -->
                    <span ng-click="back()" class="icon-back icon"><img src="images/arrow-back2.png" alt="Back"></span>
                    <a href="#/newplan" class="icon-user icon"><img src="assets/img/user.png" alt="User"></a>
                </div>
                <!-- <div class="row navigation">
                    <ul>
                        
                        <li ><a href="#/contact">اتصل بنا</a></li>
                        <li ><a href="#/about">عن التطبيق</a></li>
                        
                        <li ><a class="active" href="#/indexpage">أخبار</a></li>
                    </ul>
                </div> -->
            </nav><!-- Navigatio Ends Here -->	

<div>
    <img style="margin-top: 54px;width: 100%;height: 100%; object-fit: cover;" src="{{imgpopup}}" />
</div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-migrate.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>

